.main{
    text-align: center;
}
.text-center{
    text-align: center;
    padding-top: 20px;
    button{
        margin: 0px 10px 0px 0px;
    }
}

video {
    width: 100%;
    background: grey;
  }
  
  p.video-description {
    position: absolute;
    top: 0px;
    left: 10px;
  }
  
  