<div class="main">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <p class="video-description">Local:</p>
          <video #local_video [autoplay]="true" [muted]="true"></video>
        </mat-grid-tile>
        <mat-grid-tile>
          <p class="video-description">Remote:</p>
          <video #received_video [autoplay]="true"></video>
        </mat-grid-tile>
      </mat-grid-list>
    <div class="text-center">
        <button mat-raised-button color="primary" (click)="startPeer()" [disabled]="inCall">Broadcast</button>
        <button mat-raised-button color="warn" (click)="hangUp()" [disabled]="!inCall">Disconnect</button>
    </div>
</div>